@inject Microsoft.EntityFrameworkCore.DbContextOptions<Fondo.DAL.FondoContext> ContextOptions;
    @{
        ViewData["AlertModel"] = "Hola Partial";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>@ViewData["Title"]</title>
        <!-- Bootstrap core CSS-->
        <link href="~/sb_admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="~/sb_admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="~/sb_admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="~/sb_admin/css/sb-admin.css" rel="stylesheet">
        <!-- Datepicker plugin-->
        <link href="~/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a asp-page="/Index" class="navbar-brand mr-1">Fondo amigos de Adriana</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" asp-action="Search">
                <div class="input-group">
                    <input type="text" class="form-control" name="id" placeholder="Buscar @ViewData["searchFor"]..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            @{Html.RenderPartial("_alertsPartial", new AlertsPartialModel());}
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a asp-page="/Index" class="nav-link">


                        <i class="fas fa-fw fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-piggy-bank"></i>
                        <span>Consignaciones</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                        <a class="dropdown-item" asp-controller="Consignaciones" asp-action="Index">Consultar</a>
                        <a class="dropdown-item" asp-controller="Consignaciones" asp-action="Create" asp-route-id="1">Prestamo</a>
                        <a class="dropdown-item" asp-controller="Consignaciones" asp-action="Create" asp-route-id="2">Ahorro</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-dollar-sign"></i>
                        <span>Prestamos</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                        <a class="dropdown-item" asp-controller="Prestamos" asp-action="Index">Consultar</a>
                        <a class="dropdown-item" asp-controller="Prestamos" asp-action="Create">Nuevo</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Personas</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">


                        <a class="dropdown-item" asp-controller="Personas" asp-action="Index">Consultar</a>
                        <a class="dropdown-item" asp-controller="Personas" asp-action="Create">Nuevo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-list"></i>
                        <span>Parametros</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                        <a class="dropdown-item" asp-controller="Parametros" asp-action="Index">Consultar</a>
                        <a class="dropdown-item" asp-controller="Parametros" asp-action="Create">Nuevo</a>

                    </div>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" href="charts.html">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tables.html">
                            <i class="fas fa-fw fa-table"></i>
                            <span>Tables</span>
                        </a>
                    </li>*@
            </ul>
            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-page="/Index">Inicio</a>
                        </li>
                        @{
                            if (ViewData["controller"] != null && !string.IsNullOrEmpty(ViewData["controller"].ToString()))
                            {
                                <li class="breadcrumb-item active">
                                    @ViewData["controller"]
                                </li>
                            }
                            if (ViewData["action"] != null && !string.IsNullOrEmpty(ViewData["action"].ToString()))
                            {
                                <li class="breadcrumb-item active">
                                    @ViewData["action"]
                                </li>
                            }
                        }
                    </ol>
                    <!-- Page Content -->
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Your Website 2018</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/sb_admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/sb_admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/sb_admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/sb_admin/js/sb-admin.min.js"></script>
        <!-- Datepicker puglin-->
        <script src="~/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
